{% include base_path %}
<!-- publications主页 -->
{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

{% assign citation = post.citation %}
{% assign venue = post.venue %}
{% assign paperurl = post.paperurl %}
{% assign codeurl = post.codeurl %}
{% assign paperdate = post.paperdate %}


    <tr style="border-collapse: separate; border-spacing:30em;">
      <td style="border-collapse: collapse; border: none; width: 50%;"><img src="https://chencn2020.github.io/images/paper/teacherIQA.png" style="display: block; width: 100%; height: 100%"></td>
      <td style="border-collapse: collapse; border: none;">
        <b>{{title}}</b> <br> {{citation}} <br>
        <i>{{venue}}</i> <br> 
<span><a
            href="{{paperurl}}">Paper</a></span>   <span><a
            href="{{codeurl}}">Code</a></span>
            <br> Date: {{paperdate}}
      </td>
    </tr>
    