{% include base_path %}
<!-- publications主页 -->
{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

{% assign citation = post.citation %}
{% assign venue = post.venue %}
{% assign paperurl = post.paperurl %}
{% assign codeurl = post.codeurl %}
{% assign paperdate = post.paperdate %}
{% assign framework = post.framework %}
{% assign arxiv = post.arxiv %}
{% assign onlineDemo = post.onlineDemo %}
{% assign fast_read = post.fast_read %}
{% assign dataset = post.dataset %}

<table style="border-collapse: separate; border: none;">
  <tbody>
    <td style="border-collapse: collapse; border: none; width: 40%;"> <img src="{{framework}}"
        style="display: block; width: 100%;"></td>
    <tr style="border-collapse: separate; border-spacing:30em;">
      <td style="border-collapse: collapse; border: none;">
        <div style="margin-bottom: 5px; font-size:1.5em"><b>{{title}}</b><br></div>
        <div style="margin-bottom: 5px; color: rgba(78, 75, 75, 0.676);">{{citation}} </div>
        <i><b>Publisher:</b> {{venue}}</i> <br>

        {% if post.paperurl %}
        <span><a href="{{paperurl}}" target="_blank">Paper</a> &nbsp;</span>
        {% endif %}

        {% if post.codeurl %}
        <span><a href="{{codeurl}}" target="_blank">Code</a> &nbsp;</span>
        {% endif %}

        {% if post.arxiv %}
        <span><a href="{{arxiv}}" target="_blank">Arxiv</a> &nbsp;</span>
        {% endif %}

        {% if post.onlineDemo %}
        <span><a href="{{onlineDemo}}" target="_blank">Online Demo</a> &nbsp;</span>
        {% endif %}

        {% if post.dataset %}
        <span><a href="{{dataset}}" target="_blank">Dataset</a> &nbsp;</span>
        {% endif %}

        <br> 
        <div style="margin-top: 5px;">Date: {{paperdate}}</div>
      </td>
    </tr>
    <tr style=" border-spacing:30em;">
      <td style="border: none; border-bottom: 2px dashed rgba(201, 201, 201, 0.904);" colspan="2">
        <details>
          <summary><b>Quick Read (Click Me)</b></summary>{{fast_read}}
        </details>
      </td>
    </tr>

  </tbody>
</table>